<h1>Appointments</h1>

<ul>
  <%= @appointment.each do |app| %>
    <li>
      Doctor: <%= app.doctor.name %></br>
      Patient: <%= app.patient.name %></br>
      Appointment: <%= app.appointment_datetime %>
    </li>
  <% end %>
</ul>
